.mentor-card-container {
    padding: 0 5rem;
    max-width: 80vw;
}

.mentor-card {
    display: flex;
    flex-direction: row;
}

.mentor-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}