.alert {
    position: relative;
    padding: 0.9rem 1.25rem;
    margin-bottom: 1rem;
    border: 0.0625rem solid transparent;
    border-radius: 0.2857rem; }

.alert-danger {
    color: #ffffff;
    background-color: rgba(255, 14, 14, 0.51);
}
.section {
    padding: 70px 0;
    position: relative;
}

.close {
    float: right;
    top: 1px;
    color: #aaaaaa;
}